        .scroll-area {
            height: 600px;
            overflow: scroll;
            overflow-x: hidden;
        }

        .scroll-area::-webkit-scrollbar {
            width: 20px;
            height: 10px;
        }

        .scroll-area::-webkit-scrollbar-button {
            background-color: #FF7677;
        }

        .scroll-area::-webkit-scrollbar-track {
            background: #eee;
        }

        .scroll-area::-webkit-scrollbar-track-piece {
            background: #eee;
        }

        .scroll-area::-webkit-scrollbar-thumb {
            background: #3DB6A4;
            background-image: -webkit-linear-gradient(45deg, rgba(117, 255, 210, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
            border-radius: 4px;
        }

        .scroll-area::-webkit-scrollbar-corner {
            background: #82AFFF;
        }

        .scroll-area::-webkit-scrollbar-resizer {
            background: #FF0BEE;
        }
